@font-face {
    font-family: 'Anakotmai';
    src: url('../fonts/anakotmai-light.eot') format('eot'),
        url('../fonts/anakotmai-light.woff') format('woff'),
        url('../fonts/anakotmai-light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Anakotmai';
    src: url('../fonts/anakotmai-medium.eot') format('eot'),
        url('../fonts/anakotmai-medium.woff') format('woff'),
        url('../fonts/anakotmai-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Anakotmai';
    src: url('../fonts/anakotmai-bold.eot') format('eot'),
        url('../fonts/anakotmai-bold.woff') format('woff'),
        url('../fonts/anakotmai-bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'sd chokdee';
    src: url('../fonts/sdchokdee-Regular.woff2') format('woff2'),
        url('../fonts/sdchokdee-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}