footer {
    background: url('../img/footer-bg-2.jpg') no-repeat center top/cover;
    min-height: 570px;
    margin-top: -360px;
    margin-bottom: 0px;
    padding-top: 340px;
    padding-bottom: calc(54px + 15px);
    font-size: small;

    &.footer-member {
        background: none;
        min-height: 0;
        margin-top: 0;
        padding-top: 15px;
        padding-bottom: calc(101px + 15px);
    }

    @include media-breakpoint-up(md) {
        min-height: 550px;
        margin-top: -350px;
        margin-bottom: 0px;
        padding-top: 340px;
        padding-bottom: calc(64px + 15px);

        &.footer-member {
            padding-bottom: calc(111px + 15px);
        }
    }

    @include media-breakpoint-down(sm) {
        font-size: x-small;
    }
}

#navBottom {
    marquee {
        background-color: $black;
        color: $white;
        padding: .5rem 0;
    }

    @include media-breakpoint-down(sm) {
        >.container {
            padding-left: 0;
            padding-right: 0;
        }

        .nav {
            &-link {
                font-size: small;
                padding-left: .25rem;
                padding-right: .25rem;
            }
        }
    }
}