header {
    background: url('../img/header-bg.png') no-repeat center top/auto;

    &.header-member {
        background: url('../img/bg-nav.jpg') repeat-x left center/auto 100%;
        padding: 1rem 0;
        box-shadow: 5px 8px 10px 2px rgba(black, 0.5);
        position: relative;

        .logo {
            position: relative;

            img {
                position: absolute;
                top: -2rem;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    }

    .header {

        &-top {
            position: relative;
            padding: 1rem 0;
            z-index: 3;

            h1 {
                font-family: $font-sd;
            }

            &-logo {
                img {
                    height: 60px;
                }
            }
        }

        &-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;

            .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                color: rgba(255, 255, 255, .75);
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;

                &-link {
                    color: $white;
                    text-align: center;

                    &.active,
                    &:hover {
                        color: $gold;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .header {
            &-top {

                &-text {
                    color: $white;

                    h1 {
                        margin-bottom: 0;

                        font: {
                            size: 1.25em;
                        }

                        small {
                            display: block;
                        }
                    }
                }

                &-logo {
                    text-align: center;
                    position: relative;

                    img {
                        position: absolute;
                        top: -1rem;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        height: 145px;
                    }
                }
            }

            &-scroller {
                .nav {
                    &-link {
                        flex-basis: 0;
                        flex-grow: 1;
                        font-size: 1.25em;

                        &-logo {
                            min-width: 210px;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        background: url('../img/mobile-header-bg.png') no-repeat center center/cover;

        .header {
            &-scroller {
                background-color: $black;
            }
        }
    }
}